---
// import Board from '../scripts/Board';
// import '../styles/board.css';

// const board = new Board();
// console.log(board);
---

<div class='chessboard'></div>
<script src='../scripts/Game.js'></script>
